---
import Base from '../../layouts/Base.astro';
---
<Base title="Strudel Test">
  <h1>Strudel Folkharp Test</h1>
  <button id="play">▶ Play</button>
  <button id="stop">■ Stop</button>
  <script is:inline src="https://unpkg.com/@strudel/web@1.0.3"></script>
  <script is:inline>
    initStrudel({
      prebake: function() {
        return samples('https://strudel.b-cdn.net/vcsl.json', 'https://strudel.b-cdn.net/VCSL/');
      }
    });
    document.getElementById('play').addEventListener('click', function() {
      note("[[<c3 d3>, a3]@3 a3 <c3 d3>@2 f2@2 [<c3 d3>, a3]@3 a3 <c3 d3>@2 f2@2]/2").sound("folkharp").play();
    });
    document.getElementById('stop').addEventListener('click', function() {
      hush();
    });
  </script>
</Base>
